{% load static %}

<!doctype html>
<html lang="">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BookSortofArt: Bookshelf</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

	<style>
		.book:hover {
			stroke-width: 2;
			cursor: pointer;
		}
	</style>
  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Mobile header -->
    <div class="d-md-none">
      <header class="header">
        <nav>
          <div class="col-8 mx-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2><a href="#">Book Sort of Art</a></h2>
              </div>
              <div class="col-12 text-center border-top">
                {% if request.user.is_authenticated %}
                <a href="{% url 'users:profile' %}">Profile&nbsp;</a>
                <a href="{% url 'logout' %}" class="mt-1">&nbsp;Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="mt-1">Login&nbsp;</a>
                <a href="{% url 'users:register' %}">&nbsp;Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>

    <!-- Desktop header -->
    <div class="d-none d-md-block">
      <header class="header">
        <nav>
          <div class="col-8 mx-auto">
            <div class="row">
              <div class="col-7">
                <h3><a href="#">Book Sort of Art</a></h3>
              </div>
              <div class="col-5">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="mt-1 float-end">Logout</a>
                <a href="{% url 'users:profile' %}" class="mt-1 float-end">Profile&nbsp;&nbsp;</a>
                {% else %}
                <a href="{% url 'users:register' %}" class="mt-1 float-end">Register</a>
                <a href="{% url 'login' %}" class="mt-1 float-end">Login&nbsp;&nbsp;</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>

  <div class="mt-4">
    {% block content %}{% endblock %}
  </div>

  <!-- Mobile bookshelf -->
  <div class="d-md-none mb-5">
    <div class="container">
      <div style="text-align: center">
        <svg xmlns="http://www.w3.org/2000/svg" width="570" height="623" viewBox="0 0 570 623" style="margin: 30px auto">
          <g fill="none">
            <g transform="translate(1 5)">
              <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
              <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
              <g transform="translate(0 100)">
                <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
                <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
              </g>
              <g transform="translate(0 342)">
                <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
                <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
              </g>
              <g transform="translate(0 200)">
                <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
                <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
              </g>
              <g transform="translate(0 544)">
                <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
                <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
              </g>
            </g>
            <rect width="19" height="622" x=".5" y=".5" fill="#634C02"/>
            <path fill="#1E1E1E" d="M19,1 L19,622 L1,622 L1,1 L19,1 M20,0 L0,0 L0,623 L20,623 L20,0 Z"/>
            <g transform="translate(350)">
              <rect width="19" height="622" x=".5" y=".5" fill="#634C02"/>
              <path fill="#1E1E1E" d="M19,1 L19,622 L1,622 L1,1 L19,1 M20,0 L0,0 L0,623 L20,623 L20,0 Z"/>
            </g>
            <g transform="translate(550)">
              <rect width="19" height="622" x=".5" y=".5" fill="#634C02"/>
              <path fill="#1E1E1E" d="M19,1 L19,622 L1,622 L1,1 L19,1 M20,0 L0,0 L0,623 L20,623 L20,0 Z"/>
            </g>
          </g>
        </svg>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a href="{% url 'bookshelf:book-create' %}" class="btn blue-btn" role="button">Add Book</a>
          </div>
          <div class="col-6">
            <a href="{% url 'bookshelf:book-list' %}" class="btn blue-btn float-end" role="button">Book List</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Desktop bookshelf -->
  <div class="d-none d-md-block">
    <div style="text-align: center">
      <svg xmlns="http://www.w3.org/2000/svg" width="570" height="623" viewBox="0 0 570 623" style="margin: 30px auto">
        <g fill="none">
          <g transform="translate(1 5)">
            <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
            <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
            <g transform="translate(0 100)">
              <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
              <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
            </g>
            <g transform="translate(0 342)">
              <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
              <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
            </g>
            <g transform="translate(0 200)">
              <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
              <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
            </g>
            <g transform="translate(0 544)">
              <rect width="568" height="8.13" x=".5" y=".5" fill="#634C02"/>
              <path fill="#1E1E1E" d="M568,1 L568,8.13 L1,8.13 L1,1 L568,1 M569,0 L0,0 L0,9.13 L569,9.13 L569,0 Z"/>
            </g>
          </g>
          <rect width="19" height="622" x=".5" y=".5" fill="#634C02"/>
          <path fill="#1E1E1E" d="M19,1 L19,622 L1,622 L1,1 L19,1 M20,0 L0,0 L0,623 L20,623 L20,0 Z"/>
          <g transform="translate(350)">
            <rect width="19" height="622" x=".5" y=".5" fill="#634C02"/>
            <path fill="#1E1E1E" d="M19,1 L19,622 L1,622 L1,1 L19,1 M20,0 L0,0 L0,623 L20,623 L20,0 Z"/>
          </g>
          <g transform="translate(550)">
            <rect width="19" height="622" x=".5" y=".5" fill="#634C02"/>
            <path fill="#1E1E1E" d="M19,1 L19,622 L1,622 L1,1 L19,1 M20,0 L0,0 L0,623 L20,623 L20,0 Z"/>
          </g>
        </g>
      </svg>
    </div>
    <div class="col-8 mx-auto mb-5">
      <div class="row">
        <div class="col-6">
          <a href="{% url 'bookshelf:book-create' %}" class="btn blue-btn" role="button">Add Book</a>
        </div>
        <div class="col-6">
          <a href="{% url 'bookshelf:book-list' %}" class="btn blue-btn float-end" role="button">Book List</a>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

  <script>
	  var bookSortDataSample1 = {
	"books": [
			{
				"shelf-one-column-zero": [
				{
					"id": 0,
					"isbn": "012345",
					"title": "Title of a Red Book",
					"author": "Name of Author",
					"dimensions": {
						"height": 58,
						"spine-width": 6,
						"book-width": 6
					},
					"spine-background": "#C0272D"
				},
				{
					"id": 1,
					"isbn": "007700",
					"title": "Title of Book Two",
					"author": "Name of Author Two",
					"dimensions": {
						"height": 48,
						"spine-width": 4,
						"book-width": 6
					},
					"spine-background": "#BCCBD3"
				},
				{
					"id": 2,
					"isbn": "987654",
					"title": "Title of Book Three",
					"author": "Name of Three",
					"dimensions": {
						"height": 62,
						"spine-width": 12,
						"book-width": 6
					},
					"spine-background": "#E5E5E5"
				}
			]
		}
	]
};


	  var bookSortDataSample2 = {
	"books": [
			{
				"shelf-one-column-zero": [
				{
					"id": 0,
					"isbn": "012345",
					"title": "Title of a Red Book",
					"author": "Name of Author",
					"dimensions": {
						"height": 58,
						"spine-width": 6,
						"book-width": 6
					},
					"spine-background": "#C0272D"
				},
				{
					"id": 1,
					"isbn": "007700",
					"title": "Title of Book Two",
					"author": "Name of Author Two",
					"dimensions": {
						"height": 48,
						"spine-width": 4,
						"book-width": 6
					},
					"spine-background": "#BCCBD3"
				},
				{
					"id": 2,
					"isbn": "987654",
					"title": "Title of Book Three",
					"author": "Name of Three",
					"dimensions": {
						"height": 62,
						"spine-width": 12,
						"book-width": 6
					},
					"spine-background": "#E5E5E5"
				},
				{
					"id": 3,
					"isbn": "987654",
					"title": "Title of Book Three",
					"author": "Name of Three",
					"dimensions": {
						"height": 62,
						"spine-width": 12,
						"book-width": 6
					},
					"spine-background": "#E5E5E5"
				},
				{
					"id": 4,
					"isbn": "007700",
					"title": "Title of Book Two",
					"author": "Name of Author Two",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#BCCBD3"
				},
				{
					"id": 5,
					"isbn": "012345",
					"title": "Title of Book One",
					"author": "Name of Author",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#C0272D"
				},
				{
					"id": 6,
					"isbn": "012345",
					"title": "Title of Book One",
					"author": "Name of Author",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#C0272D"
				},
				{
					"id": 7,
					"isbn": "012345",
					"title": "Title of Book One",
					"author": "Name of Author",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#C0272D"
				},
				{
					"id": 8,
					"isbn": "012345",
					"title": "Title of Book One",
					"author": "Name of Author",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#C0272D"
				}
			],
			"shelf-two-column-one": [
				{
					"id": 9,
					"isbn": "012345",
					"title": "Title of Book One",
					"author": "Name of Author",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#C0272D"
				},
				{
					"id": 10,
					"isbn": "007700",
					"title": "Title of Book Two",
					"author": "Name of Author Two",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#BCCBD3"
				},
				{
					"id": 11,
					"isbn": "987654",
					"title": "Title of Book Three",
					"author": "Name of Three",
					"dimensions": {
						"height": 10,
						"spine-width": 2,
						"book-width": 6
					},
					"spine-background": "#E5E5E5"
				}
			]
		}
	]
};


$(function() {
  // Generate books in JSON array order


});
	  </script>


</body>

</html>
