{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div>
      <a href="{% url 'users:profile' %}">Back</a>
    </div>
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edit Bookshelf</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="border-top pt-3">
        <a href="{% url 'users:profile' %}" class="btn btn-secondary" type="submit" role="button">Save</a>
      </div>
    </form>
  </div>
{% endblock content %}
