{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="content-section">

    <!-- Mobile book update -->
    <div class="d-md-none">
      <div class="container">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mt-4 mb-4">Update Book</legend>
            {{ form|crispy }}
            <p class="mt-1"><b>Average color:</b> {{ book.spine_color }}</p>
          </fieldset>
          <div class="border-top pt-3">
            <button class="w-100 btn blue-btn" type="submit">Update</button>
            <div class="row">
              <div class="col-6">
                <a href="{% url 'bookshelf:book-list' %}" class="w-100 btn gray-btn mt-3" role="button">Back</a>
              </div>
              <div class="col-6">
                <a href="{% url 'bookshelf:book-delete' book.pk %}" class="w-100 btn btn-danger mt-3" role="button">Delete</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Desktop book update -->
    <div class="d-none d-md-block">
      <div class="col-8 mx-auto">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mt-4 mb-4">Update Book</legend>
            {{ form|crispy }}
            <p class="mt-1"><b>Average color:</b> {{ book.spine_color }}</p>
          </fieldset>
          <div class="border-top pt-3">
            <a href="{% url 'bookshelf:book-list' %}" class="btn gray-btn" role="button">Back</a>
            <a href="{% url 'bookshelf:book-delete' book.pk %}" class="btn btn-danger" role="button">Delete</a>
            <button class="btn blue-btn" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>

  </div>

{% endblock content %}
