{% extends 'base.html' %}

{% block content %}

  <div class="content-section">

    <!-- Mobile logout -->
    <div class="d-md-none">
      <div class="container mt-4">
        <p class="h3">You have been logged out</p>
        <small class="text muted">
          <a href="{% url 'login' %}">Log In Again</a>
        </small>
      </div>
    </div>

    <!-- Desktop logout -->
    <div class="d-none d-md-block">
      <div class="col-8 mx-auto mt-4">
        <p class="h3">You have been logged out</p>
        <small class="text muted">
          <a href="{% url 'login' %}">Log In Again</a>
        </small>
      </div>
    </div>

  </div>

{% endblock %}
