{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <header>
          <a style="float: right" href="{% url 'logout' %}">Logout</a>
      </header>
    </div>
    <div class="row">
      <h1>Welcome<br />{{ user.username|upper }}!</h1>
    </div>
    <hr />
    <div class="row">
      <h3>Your bookshelf:</h3>
      {% if bookshelf %}
        <a href="{% url 'bookshelf:bookshelf-view' %}">{{ bookshelf.name }}</a>
        <a href="{% url 'bookshelf:bookshelf-update' bookshelf.pk %}"><sub>Rename bookshelf</sub></a>
      {% else %}
        <a href="{% url 'bookshelf:bookshelf-create' %}">Name your bookshelf</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
